.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #32429b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stepContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.step {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .header {
    font-size: 1.2rem;
  }
}
.webcam {
  width: 90%;
  height: 40vh;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .webcam {
    width: 100%; /* Expand to full width on mobile */
    height: 220px; /* Adjust height for a more rectangular shape */
    object-fit: cover; /* Ensures the ID fills the frame properly */
    border-radius: 5px;
  }
}

.faceWebcam {
  width: 100%;
  max-width: 250px; /* Restrict width for a circular/oval shape */
  height: 275px; /* Adjust height to create an oval look */
  border-radius: 50%; /* Makes it circular/oval */
  overflow: hidden; /* Ensures content stays within the circle */
  object-fit: cover; /* Centers the image within the shape */
  margin-bottom: 10px;
}

.captureButton {
  padding: 10px 20px;
  background-color: #32429b;
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  max-width: 200px;
}
.captureButton:hover {
  opacity: 0.85;
}

.orText {
  margin: 10px 0;
  font-size: 1rem;
}
.uploadContainer {
  display: grid;
  place-items: center;
  width: 74%;
}
.uploadInput {
  display: block;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.submitButton {
  padding: 10px 20px;
  background-color: #32429b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  margin-top: 15px;
}
.bottomText {
  text-decoration: underline;
  cursor: pointer;
}

.iframeParentContainer,
.errorContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
